# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

ClassifEspVotes170110.csv
IdTot170112.csv
matconf.csv
tadaridaC_src/buildClassif_exp.R
~$st_plan_tadaridaC.odt
